@import "../Utils/variables.scss";
@import "../Utils/mixins";
@import "../Utils/keyframes.scss";
@import "../Layout/footer";
@import "../Base/fonts.scss";

body {

    margin: 0;
}

.header-home {
    @include for-phone;
    @include header-base;

        &__logo {
            width: 40%;
        }

}

.location-point {
    @include for-phone;
    @include header-shadow;
    @include font-base;
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
     
     &__dot {
        padding-right: 15px;
     }
}

.explore-section {
    @include for-phone;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

        &__title {
            margin: 0;
            @include font-section-title;
            text-align: center;
            padding-top: 30px;
        }

        &__text {
            font-family: $font-family-base;
            font-weight: 300;
            font-size: 18px;
            text-align: center;
        }

        &__button {
            @include purple-button;
            margin-top: 10px;
        }
}

.functioning-section {
    @include for-phone;
    padding-top: 40px;
    padding-bottom: 60px;

        &__title {
            margin: 0;
            @include font-section-title;
            padding-left: 3%;
        }

        &__all-buttons {
            padding-top: 25px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 25px;
        }

        &__button {
            @include functioning-button;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                .functioning-section__icon {
                    color: $color-primary;
                }
                
            }

            .functioning-section__icon {
                color: #7E7E7E;
                position: absolute;
                right: 85%;
                bottom: 36%;
            }
        }


        &__button-number {
            position: absolute;
            right: 96%;
            font-family: $font-family-base;
            font-weight: $font-weight-base;
            font-size: 14px;
            background-color: $color-primary;
            color: white;
            border-radius: 30px 30px 30px 30px;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 4px;
            padding-bottom: 4px;
        }

        

}

.restaurants-section {
    @include for-phone;
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: $background-color;

    &__title {
        margin: 0;
        @include font-section-title;
        padding-left: 3%;
    }

    &__all-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
        padding-top: 25px;
    }

    &__card {
        width: 80%;
        height: 220px;
        text-decoration: none;
        color: black;
        border-radius: 15px 15px 15px 15px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
        position: relative;
    }

    &__new {
        margin: 0;
        position: absolute;
        right: 5%;
        top: 5%;
    }

    &__card-img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }

    &__card-title {
        margin: 0;
        padding-top: 10px;
        padding-left: 10px;
    }

    &__card-text {
        margin: 0;
        padding-top: 5px;
        padding-left: 10px;
    }

}

.wire-heart {
    position: absolute;
    right: 8%;
    bottom: 11%;
    font-size: 22px;
    z-index: 0;
}

.solid-heart {
    position: absolute;
    right: 8%;
    bottom: 11%;
    font-size: 22px;
    background: linear-gradient(180deg, $color-primary, $color-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: clip-path 600ms;
    clip-path: circle(0%);
    z-index: 1;

    &:hover {
        clip-path: circle(100%);
    }
}