@import "../Utils/variables.scss";
@import "../Utils/mixins";
@import "../Utils/keyframes.scss";
@import "../Layout/footer";
@import "../Layout/loader";

body {
    @include min-width(small);
    margin: 0;
}

.header-menu {
    @include header-base;
    position: relative;

        &__logo {
            width: 40%;
            

            @include min-width(medium) {
                width: 10%;
            }

            @include min-width(large) {
                width: 10%;
            }
        }

        &__arrow {
            color: black;
            font-size: 18px;
            position: absolute;
            left: 5%;
        }
}

.main-menu {
    display: flex;
    justify-content: center;
}

.menu {
    background-color: $background-color;
    width: 100%;

    @include min-width(medium) {
        width: 78%;
        
    }

    @include min-width(large) {
        width: 78%;
    }
}

.menu-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.menu-head {
    border-radius: 40px 40px 0px 0px;
    background-color: $background-color;
    width: 100%;
    height: auto;
    position: relative;
    top: -40px;
    padding-top: 20px;

    &__title {
        @include font-menu-title;
        padding-left: 5%;
    }

    /* Hearts animation */

.menu-head__hearts {
    
    .solid-heart {
        position: absolute;
        right: 10%;
        bottom: 14%;
        font-size: 22px;
        background: linear-gradient(180deg, $color-primary, $color-secondary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transform: scale(0);
        transition: all 400ms;
    }

    &:hover {
        .solid-heart {
        transform: scale(1);
        }
    }
}

.wire-heart {
    position: absolute;
    right: 10%;
    bottom: 15%;
    font-size: 22px;
}
}

.course {

    &__title {
        @include font-course-title;
    }

    &__line {
        width: 10%;
        margin-left: 3%;
        margin-top: 5px;
        height: 3px;
        background-color: $color-tertiary;

        @include min-width(medium) {
            width: 6%;
            
        }
    
        @include min-width(large) {
            width: 4%;
        }
    }

    &__all-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    &__button {
        @include menu-button;
        position: relative;
    }

    &__dish {
        @include font-course-dish;
        padding-top: 3%;

        @include min-width(small) {
            width: 70%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        @include min-width(medium) {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__text {
        @include font-course-text;
        padding-bottom: 3%;

        @include min-width(small) {
            width: 60%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__price {
        @include font-course-price;
    }
}

.order {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

    &__button {
        @include purple-button;
        text-align: center;
        width: 40%;
    }
    
}

/* Menu animation */

.all-courses {

    .course {
    animation: courses-anim $anim-dur backwards;

    @for $i from 1 through 3 {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }
    }
}
}

/* Dishes selector animation */

.animation {
    position: absolute;
    right: 0%;
    top: 0%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 15px 15px 0px;
    background-color: $color-tertiary;

    &__check {
        color: white;
        overflow: hidden;
    }
}

.course__button {
    cursor: pointer;
    &:hover .animation {
        width: 18%;
        margin-left:-18%;
        transition-duration: 500ms;

        @include min-width(medium) {
            width: 14%;
            margin-left:-15%;
            
        }
    
        @include min-width(large) {
            width: 11%;
            margin-left:-11%;
        }
     }

     &:not(:hover) .animation {
        width: 0%;
        transition-duration: 300ms;
     }
}

.course__button:hover {

    .course__price{
    right: 20%;
    transition-duration: 500ms;

    @include min-width(medium) {
        right: 18%;
    }

    @include min-width(large) {
        right: 15%;
    }
    }
}

.course__button:not(:hover) {

    .course__price {
        right: 4%;
        transition-duration: 500ms;
    }
}