@import "./variables.scss";

@mixin for-phone {
    @media all and (min-width: 320px) and (max-width:640px){ @content; }
}

@mixin for-tablet {
    @media all and (min-width: 641px) and (max-width:1007px){ @content; }
}

@mixin for-desktop {
    @media all and (min-width: 1008px) and (max-width:1400px){ @content; }
}

@mixin font-base {
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    font-size: $font-size-base;
}

@mixin font-section-title {
    font-family: $font-family-section-title;
    font-weight: $font-weight-section-title;
    font-size: $font-size-section-title;
}

@mixin font-title {
    font-family: $font-family-title;
    font-weight: $font-weight-title;
}

@mixin font-card-title {
    font-family: $font-family-base;
    font-weight: 700px;
    height: 18px;
}

@mixin font-card-text {
    font-family: $font-family-base;
    font-weight: 300;
    height: 17px;
}

@mixin font-new-text {
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    font-size: 14px;
    background-color: $color-tertiary;
    color: darken($color: $color-tertiary, $amount: 40);
    padding: 7px;
    border-radius: 2px 2px 2px 2px;
}

@mixin header-base {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

@mixin header-shadow {
    background: linear-gradient(180deg, rgb(207, 207, 207) 0%, #e3e1e1 10%);
}

@mixin purple-button {
    @include font-base;
    text-decoration: none;
    color: white;
    background: linear-gradient(180deg, $color-secondary, $color-primary);
    border-radius: 30px 30px 30px 30px;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

@mixin functioning-button {
    @include font-base;
    text-decoration: none;
    color: black;
    background-color: $background-color;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 75%;
    text-align: center;
}