@import "./variables.scss";

@mixin for-phone {
    @media all and (min-width: 320px) and (max-width:640px){ @content; }
}

@mixin for-tablet {
    @media all and (min-width: 641px) and (max-width:1007px){ @content; }
}

@mixin for-desktop {
    @media all and (min-width: 1008px) and (max-width:1400px){ @content; }
}

@mixin font-base {
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    font-size: $font-size-base;
}

@mixin font-title {
    font-family: $font-family-title;
    font-weight: $font-weight-title;
}

@mixin header-base {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

@mixin header-shadow {
    background: linear-gradient(180deg, rgb(207, 207, 207) 0%, #e3e1e1 10%);
}