
$breakpoint-small: 320px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background-color: #f6f6f6;
$footer-background: #353535;

$font-family-base:'Roboto', sans-serif;
$font-weight-base: 500;
$font-size-base: 16px;

$font-family-section-title: 'Roboto', sans-serif;
$font-weight-section-title: 700;
$font-size-section-title: 24px;

$font-family-title:'Shrikhand', sans-serif;
$font-weight-title: 400;
$font-size-title: 18px;
